@model IEnumerable<PDV.Net.Application.ViewModel.CategoriaProdutoViewModel>

@{
    ViewData["Title"] = "Categorias de Produtos";
}

<h1>Categorias de Produtos</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a href="#" target="_self" onclick="confirmDelete('@item.Id')">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modalDelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Delete" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja deletar a categoria?</p>
                    <input type="hidden" id="itemDelete" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/categoriasProdutos/index.js"></script>
}
